.message-block {
    margin: 4vh;
}
.sender-messages {
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh;
}
.user-messages {
    display: flex;
    margin-bottom: 2vh;
    flex-direction: row-reverse;
}
.user-messages > *{
    margin-left: 2vh;
}
.messageInfo {
    display: flex;
    flex-direction: column;
    font-size: 2vh;
    color: rgb(101, 101, 101);
    margin-right: 2vh;
}
.messageContent  > img {
    width: 30vh;
    height: 30vh;
    border-radius: 0;
    margin-bottom: 2vh;
}
.messageContent > p {
    width: max-content;
    padding: 1.2vh;
}
.sender-messages > .messageContent > p{
    border-radius: 0 5px 5px 1vh;
    background-color: rgb(156, 169, 254);
}
.user-messages > .messageContent > p{
    border-radius: 5px 0 2vh 5px;
    background-color: rgb(219, 243, 227);
}