#home-container {
    width: 80vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.two {
    width: 80vw;
    height: 90vh;
}
@media (max-width: 850px) {
    #home-container{
        flex-direction: column;
    }
}