#navbar-container {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background-color: rgb(7 64 121);
    height: 90vh;
    width: 15vw;
    flex-direction: column;
    border-radius: 2vh 0 0 2vh;
}
#navbar-container > * {
    margin-bottom: 3vh;
}
#navbar-container > button {
    background-color: rgb(35, 177, 177);
    border: none;
    border-radius: 1vh;
    padding: 1vh;
    color: white;
    cursor: pointer;
}
img {
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    object-fit: cover;
}

#navbar-container > img {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    object-fit: cover;
}