.search-container {
    border-bottom: 1px solid white;
}
.searchForm > input {
    margin: 4vh 0 2vh 0;
    height: 4vh;
    width: 90%;
    border-radius: 2vh;
    background-color: gainsboro;
    border: none;
}
.searchForm > input::placeholder {
    color: rgb(133, 125, 125);
}
.userChat {
    justify-content: flex-start;
    padding: 1vh;
}
.userChat > * {
    margin-right: 2vh;
    color: rgb(33, 33, 33);
}
.userChat:hover {
    background-color: #6b5fd6 ;
}
.userChat > img {
    height: 2vw;
    width: 2vw;
}